**Question 1**

In the cell below, use the csv package and open the csv file. Use a for loop and the `readlines()` method to read each line of the file and print it out. Make sure you're using the correct file.

In [ ]:
import csv
## PLACE YOUR CODE HERE

In [ ]:
import mysql.connector
from mysql.connector import Error

## ALSO BE SURE TO ADD YOUR DB USERNAME AND PASSWORD HERE

PASSWORD="your_password"

**Question 2**

In the cell below, using mysql.connector, create a function which can be used to connect to your vm, print out the databases you have access to.  
 
 >REMEMBER: Handle your errors! If something goes wrong, we don't want production code crashing.

In [ ]:
try:
    connection = mysql.connector.connect(
        host="localhost",
        user="student",
        password=PASSWORD
    )

    # Add code here to print your databases

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close() # This is a hint! Since cursor isn't defined you'll obviously need one somewhere
        connection.close()

**Question 3**

Now that we have a database, lets go ahead and create a table for storing the `all_alpha_25.csv` data into the database.

In [ ]:
def create_table(db_name, table_name):
    try:
        connection = mysql.connector.connect(
            host='localhost',
            user='student',
            password=PASSWORD,
            database=db_name
        )
        
        if connection.is_connected():
            cursor = connection.cursor()
            
            create_table_query = f"""PLACE YOUR QUERY HERE"""
            
            cursor.execute(create_table_query)
            connection.commit()
            print("Table 'car_emissions' created successfully.")
    
    except Error as e:
        print(f"Error while connecting to MySQL: {e}")
    
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

create_table("student", "table1")

**Question 4**

Now that the table exists, create a function to take your opened csv file, and insert the values into your newly created table. Remember to clean your data!

In [ ]:
def insert_data(db_name, table_name, csv_file_path):
    try:
        connection = mysql.connector.connect(
            host='localhost',
            user='student',
            password=PASSWORD,
            database=db_name
        )
        
        if connection.is_connected():
            cursor = connection.cursor()
            
            insert_query = f"""PLACE YOUR QUERY HERE"""
            
            with open(csv_file_path, mode='r') as csv_file:
                csv_reader = csv.reader(csv_file)
                next(csv_reader)
                
                for row in csv_reader:
                    cursor.execute(insert_query, tuple(row))
            
            connection.commit()
            print("Data inserted successfully.")
    
    except Error as e:
        print(f"Error while connecting to MySQL: {e}")
    
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

insert_data("student", "table1", "all_alpha_25.csv")

**Question 5**

Fortunately, a DBMS can abstract a lot of those details away for us. It's important to remember that everything in a database is a `set` meaning that there is no inherent order in how it is stored. If we simply `SELECT` from our database we have to assume that the values are returned in a random order. However, we can use `ORDER BY` statement to specify the order we want. In the following cell, retrieve all the values in your database first by the `Model` attribute, then the `City MPG`, `Hwy MPG`, and `Cmb MPG` attributes. Print the result to the console.

In [ ]:
def fetch_sorted_data(db_name, table_name):
    try:
        connection = mysql.connector.connect(
            host='localhost',
            user='student',
            password=PASSWORD,
            database=db_name
        )
        
        if connection.is_connected():
            cursor = connection.cursor()
            
            query = f"""PLACE YOUR QUERY HERE"""
            
            cursor.execute(query)
            results = cursor.fetchall()
            
            for row in results:
                print(row)
    
    except Error as e:
        print(f"Error while connecting to MySQL: {e}")
    
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

fetch_sorted_data("student", "table1")